<br>
<p>
	Here I broke down my Journey/experience in a 3rd person narrative. Please feel free to visit any section that most interests you but do remember to read my pitch and you can get in touch.
</p>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ChildHood
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>
        	Born in Lagos Nigeria, David was a sports fan, playing in the streets with neighbours. When his dad travelled in 1999, he was sent to the middle belt (Benue State) to stay with his uncle and enroll in a boarding school. Sometimes, when he wasn't visited he went to the father of a friend he helps with mathematics and asked that he also be visited with provisions or he may not have the strength to help out his friend in maths.
        </p>
        <h5>Lessons Learnt</h5>
        <li>It is never too early or too late to think about turning passion into profit.</li>
        <li>Always strive to provide value.</li>
        	
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          University
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        
        <div class="card mb-3" style="max-width: 1040px;">
  			<div class="row no-gutters">
    			<div class="col-md-4">
     			 <img src="https://res.cloudinary.com/dmgcn668q/image/upload/v1609776757/Personal%20Website/sirjoe_aw1hat.jpg" class="card-img" alt="..." height="400px" width="50%">
   				</div>
    			<div class="col-md-8">
      				<div class="card-body">
        				<h5 class="card-title">Studying Engineering</h5>
        				<p class="card-text">Fortunately, He got admission into University of Nigeria Nsukka to Study Electronic Engineering, One thing that kept him through is the end goal in mind, During his time, he co designed with Late Sir Joseph Ekene & Sir George Umeojiakor a Micro controller power source control system that is Mobile enabled. This sourse automatically searches all the phases of the house to select electricity that is within an acceptable voltage range or switches on the generator when it cannot find this voltage and then it can be turned off remotely via mobile phone.</p>
        				<h5>Lessons Learnt</h5>
        				<li>Surround yourself with people who lifts you up and brings out the best in you</li>
      				</div>
    			</div>
  			</div>
		</div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          First Work Experience
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        
        <div class="card mb-3" style="max-width: 1040px;">
  			<div class="row no-gutters">
    			<div class="col-md-4">
     			 <img src="https://res.cloudinary.com/dmgcn668q/image/upload/v1609776755/Personal%20Website/david_batterycharging_vjscpu.jpg" class="card-img" alt="..." height="200px" width="50%">
   				</div>
    			<div class="col-md-8">
      				<div class="card-body">
        				<h5 class="card-title">Life as an Avionics Engineer</h5>
        				<p class="card-text">His first Job was during his internship with the Nigerian Civia Aviation Authority, He fell in love with Aviation and ended up working with Onedot Aviation for his Service. At Onedot Aviation, He was tasked with the role of an Intern Avionics Engineer and Technical Records Officer. This task include; Charging of the Aircraft batters, Compass swing, Lighting, COmmunication Power check, as well as assisting the engineer on site. Due to his resourcefulness and love for ICT, he was also tasked with the development & management of the website of Onedot Aviation in 2016. Aviation was really fun and the experience truly is remarkable but still there wasnt that much fufulment for him because there was no free will to innovate in that line of operation. That was the start of his search into Entrepreneurship.</p>
        				<h5>Lessons Learnt</h5>
        				<li>In every position/job, the time you begin to grow is when you consider yourself a stakehoder in the job and strive to grow.</li>
        				<li>It doesn't matter if you are a novice, work until you it becomes difficult to let you go. If you are still scared of getting fired, you are not an asset.</li>
        				<li>If you are doing something that isnt giving you peace or fufilment, it is time to leave. Creativity is the opposite of competition.</li>
      				</div>
    			</div>
  			</div>
		</div>
      

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Entrepreneurship
        </button>
      </h2>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        David would always be grateful to Meltwater Entrepreneurial School of Technology. They train entreprepreneurs to build globally successful businesses by teaching, Software development, Communication, Business development & investing in businesses from idea stage. On completing the program in 2017, David Co founded his first company called Joluud, along with Luqman Musah and Joshua Oguntade. Joluud is a facilities management platform that helps facility managers plan, predict and execute maintenance operations and their costs.<br>
        Aside Joluud, David has also formed and failed in various businesses, an example is Cusites (Airline review/rating platform) & Oyaclean (connecting people to artisans on demand) which failed due to Covid. <br>
        Currently David started Truetesters (a platform to help businesses test against security vulnerabilities and mis configurations). He also helps businesses such as TracGlobal (vehicle tracking) in sales.
        <h5>Lessons Learnt</h5>
        <li>Entrepreneurship is hard, it is always advisable to have cash (capital) before you venture into it</li>
        <li>It is good to believe in what you do, but find other who you can convince and build with them, if you cannot convince one person, you cannot convince your customers.</li>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Sales & Marketing
        </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        
        <div class="card mb-3" style="max-width: 1040px;">
  			<div class="row no-gutters">
    			<div class="col-md-4">
     			 <img src="https://res.cloudinary.com/dmgcn668q/image/upload/v1609776756/Personal%20Website/davidjorn_hcdvdx.jpg" class="card-img" alt="..." height="260px" width="50%">
   				</div>
    			<div class="col-md-8">
      				<div class="card-body">
        				<h5 class="card-title">Card title</h5>
        				<p class="card-text">One thing he loves the most is Sales. Most times he tries to mathematically interpreat sales as it is always dependent on the number of people you reach out to. David specializes in door to door sales, sales prospecting, calls and email, pitching and customer retention. He has a process and uses hubspot to automate his leads managing process. On Sales, he headed Joluud sales process for 3 years and worked as a sales consultant for Traila Technologies from July until september 2020. David also has a process for leads qualifying and cold emailing where he uses automation tools like lemlist, anymailer, icyleads and targets decision makers with captivating messages.</p>

      				</div>
    			</div>
  			</div>
		</div>
      
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseOne">
          Ethical Hacking
        </button>
      </h2>
    </div>

    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        Due to covid, a lot crashed for David and he was Jobless for a while, He started learning about ethical penetration testing and got attacted to this. He tests web, mobile, API's for vunerabilities and performs social engineering on target clients in order to prepare them against such attacks. He is very conversant with network based attacks involving active networks and offers mitigation against these attacks.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Webdesign & Development
        </button>
      </h2>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
        In 2021, David was inspired by a his friend (Joseph) to learn rails. He started out with ruby and then rails, hes developed a few applications with rails, built this website in rails and continues to improve his knowledge in web development using rails. Further down the year (march), David would add React to compliment his knowledge in rails and enhance his websites further while maintaning ethical security principles. David loves to work with algorithms, and think through problems
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEight">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseOne">
          My Pitch
        </button>
      </h2>
    </div>

    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
      <div class="card-body">
        <div class="card mb-3" style="max-width: 1040px;">
  			<div class="row no-gutters">
    			<div class="col-md-4">
     			 <img src="https://res.cloudinary.com/dmgcn668q/image/upload/v1609776755/Personal%20Website/david_yis615.jpg" class="card-img" alt="..." height="300px" width="50%">
   				</div>
    			<div class="col-md-8">
      				<div class="card-body">
        				<h5 class="card-title">Card title</h5>
        				<p class="card-text">If you have a system in place and you are looking for a person full of energy, ready to collaborate and work with your team in pushing your company further. If you are looking for a friend that is ready to use his experience and versitility to push your company. If you can afford accomodation, feeding and a basic salary and have clearly defined tasks to be completed? I am your man. I love working with companies to figure out how to improve upon an existing process with data and result. I love working with people and having pure non judgemental fun & my smile is contagious. I am available for remote work also & can work part time. Please get in touch</p>
        				<p class="card-text"><small class="text-muted">Whatsapp: +233243611152, Email:  realdavidobi@gmail.com </small></p>
      				</div>
    			</div>
  			</div>
		</div>
      </div>
    </div>
  </div>
</div>